{% extends "main.html" %}
{% block content %}
  <center>
       <div class="container main-section">
        <div class="row-fluid">
            <div class="col-lg-10 hedding pb-2">
                <center>
                    <h1> <span style="font-family:FF Cocon;color:#0066ff"> Candidate Description Page  </span> </h1>
                    <h1> <span style="font-family:FF Cocon;color:#0066ff"> Samer Habash Profile  </span> </h1>
                </center>
            </div>
        </div>
      <p><br></p>
            <h2> <span style="font-family:FF Cocon;color:#249cd5">
            I am a DevOps engineer with CKA, CKAD certificates, and a solid
            background in NOC/SysOps engineering, that have around 5+ years of
            hands-on experience supporting, automating operations within the
            mission, leveraging configuration management tools, CI/CD, and linux
            administration.
            <p><br></p>
            Fast learner, serious, self motivated person , and open to learn new skills.
            <p><br></p>
            </span>
            </h2>
            <h2> <span style="font-family:FF Cocon;color:#249cd5">
            Contact Links :<br>
                Linked In : <a href="https://www.linkedin.com/in/samer-habash-64318733/"><ins>https://www.linkedin.com/in/samer-habash-64318733/</ins></a><br>
                Github Repo :<a href="https://github.com/samer-habash/"><ins>https://github.com/samer-habash/</ins></a><br>
                </span>
            </h2>
       </div>
  </center>
<p><br>
{% endblock %}